*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Finger Paint',cursive;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2D414B;
    --background: whitesmoke;
}

body{
    margin: 10px;
    color: var(--orange);
    background-color: var(--background);
    font-family: 'Finger Paint', cursive;
}

dialog{
    margin: 150px auto;
    padding: 20px ;
    border: 2px solid var(--orange);
    border-radius: 5px;
}
label{
    font-size: 18px;
    color: var(--orange);
}
input,label{
    display: block;
    margin: 5px 0;
}
input{
    padding: 3px;
    border: 1px solid gray;
    font-size: 16px;
    color: #333;
}
button[type="submit"]{
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: #333;
}

button[type="submit"]:hover{
    transform: translateY(-2px);
    color: var(--orange);
    background-color: whitesmoke;
}

h1{
    font-size: 45px;
    text-transform: uppercase;
    margin: 1px 0;
}

.container{
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #37505C; */
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-top: -2px;
}
h3.message{
    margin: 10px;
    font-family: 'Finger Paint', cursive;
    font-size: 20px;
}
.box {
    height: 120px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    cursor: pointer;
}

.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
}

#restartBtn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--orange);
    color: #333;
    font-size: 25px;
    border: none;
    transition: 300ms transform;
    font-weight: 600;
    font-family: 'Finger Paint', cursive;
    font-style: italic;
}
#restartBtn:hover{
    cursor: pointer;
    transform: translateY(-3px);
    color: var(--orange);
    background-color: whitesmoke;
}